[package]
name = "abyss-app"
version = "0.0.1"
description = "A desktop extension"
authors = ["you"]
repository = "https://github.com/deskbtm-abyss/abyss"
default-run = "abyss-app"
edition = "2021"
rust-version = "1.57"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
tauri-build = { version = "1.0.4", features = [] }

[dependencies]
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
tauri = { version = "1.0.5", features = [
  "api-all",
  "devtools",
  "system-tray",
  "wry",
] }
tauri-runtime-wry = { version = "0.10.2" }
abyss-core = { path = "../../core", version = "~0.0.1" }
abyss-addon-log = { version = "0.0.1", path = "../../addons/log" }


[target."cfg(target_os = \"windows\")".dependencies.windows]
version = "0.37"
features = [
  "Win32_Foundation",
  "Win32_Security",
  "Win32_System_LibraryLoader",
  "Win32_System_WinRT",
  "Win32_UI",
]

[target."cfg(windows)".dependencies]
webview2-com = "0.16.0"


[features]
# by default Tauri runs in production mode
# when `tauri dev` runs it is executed with `cargo run --no-default-features` if `devPath` is an URL
default = ["custom-protocol"]
# this feature is used used for production builds where `devPath` points to the filesystem
# DO NOT remove this
custom-protocol = ["tauri/custom-protocol"]
